.project-tasks {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 24px;
}

.task-container,
.project-tasks > form {
  display: grid;
  grid-template-columns: 4fr auto;
  padding: 8px;
  gap: 8px;
  color: white;
}

.task-info {
  display: grid;
  grid: 40px minmax(100px, auto) / 2fr 200px 50px;
  grid-template-areas:
    "task-title task-date task-priority"
    "task-description task-description task-description";
  row-gap: 8px;

  background-color: #588157;
  border-radius: 10px;
  padding: 16px;
}

.task-title,
#task-title-submit {
  grid-area: task-title;
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  margin: 0;
}

.task-date,
#task-date-submit {
  grid-area: task-date;
  margin: 0;
}

.task-priority,
#task-priority-submit {
  grid-area: task-priority;
  display: flex;
  justify-content: end;
  align-items: end;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
}

.priority-high {
  color: red;
  /* text-shadow: rgba(255, 0, 0, 1) 0px 0px 16px; */
}

.priority-medium {
  color: yellow;
  /* text-shadow: rgb(255, 255, 0) 0px 0px 16px; */
}

.priority-low {
  color: green;
  /* text-shadow: rgb(0, 255, 0) 0px 0px 16px; */
}

.task-description,
#task-description-submit {
  grid-area: task-description;
  background-color: #fefae0;
  color: black;
  border-radius: 5px;
  padding: 8px;
  margin: 0;

  resize: vertical;
  overflow: auto;
  min-height: 100px;

  font-size: 0.8rem;
}

/* task actions */
.task-actions,
#task-submission-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  button {
    width: 1rem;
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
  }

  button:hover {
    svg {
      color: white;
    }
  }

  .delete-task-btn:hover {
    svg {
      color: red;
    }
  }
}
